<a href="./todos/new">Create</a>
<ul>
  {{#each todos}}
    <li>
      {{this.name}}
      {{!-- _id 這個是資料庫自行產生的一組數字 --}}
      {{!-- 動態產生一個新的連結 --}}
      <a href="./todos/{{ this._id }}">detail</a>
      <a href="./todos/{{ this._id }}/edit">edit</a>
      <form action="./todos/{{this._id}}/delete" method="POST" style="display: inline;">
        <button type="submit">delete</button>
      </form>
    </li>
    
    {{/each}}
</ul>